/***************************************************************
*Bootstrap Editted    Verdana, Geneva, sans-serif;Tahoma, Geneva, sans-serif; Impact, Charcoal, sans-serif
****************************************************************#228B22
*/


body{
    font-family: Verdana, Geneva, sans-serif!important;
    font-size: 12px!important;
    background:url(../images/bodyBg.png) repeat ;
}
.bold{
    font-weight: bold;
}
.line{
    border-bottom: 1px solid #ccc;
}

table { vertical-align:top; }

table.list {
    clear:both;
    background:#ccc;
    margin: 2px 0;
    border-bottom: 1px solid #ccc;
}

table.list caption {
    text-align:left;
    padding:5px;
    background:#929292;
    color:#fff;
    font-weight:bold;
}

table.list thead th {
    background-color:#eee;
    color:#000;
    text-align:left;
    vertical-align:top;
    padding: 4px 5px;
}

table.list th a {
    text-decoration:none;
    color:#000;
    margin: -4px -5px;
    padding: 4px 5px;
}

table.list thead th a { padding-right: 15px; display: block; white-space: nowrap; color: #000; background: url('../images/asc_desc.gif') 100% 50% no-repeat; }

table.list thead th a.asc { background: url('../images/asc.gif') 100% 50% no-repeat #cfe6ff; }
table.list thead th a.desc { background: url('../images/desc.gif') 100% 50% no-repeat #cfe6ff; }
table.list tbody td {
    background:#fff;
    border:1px solid #fff;
    padding:1px;
    vertical-align:top;
}

table.list tbody td { background: #fff; padding: 4px 3px; vertical-align: top; }
table.list tbody tr:nth-child(2n+1) td { background-color: #f0faff; }
table.list tbody tr:hover td { background: #ffe; }
table.list tbody tr:nth-child(2n+1):hover td { background: #ffd; }
/* row highlighting on hover + select */
table.list tbody tr:hover td, table.list tbody tr.highlight td {  background: #FFFFDD; }
/* disabled highlighting on nohover */
table.list tbody tr:hover td.nohover, table.list tbody tr.highlight td.nohover {}


table tfoot td {
    background:#eee;
    padding: 1px;
}

table.list tfoot td {
    padding: 2px;
}



.header_title{
    /*    color: #4169e1 !important;*/
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -10px;	
    position: absolute;
    padding-bottom: 5px;
}
.sub_title{
    /*   color: #4169e1 !important;*/
    font-size: 17px;
    font-weight: bold;
    margin-left: 25px;

    margin-top: 10px;
    text-align: center!important;		

}
.welcome{
    font-size: 15px;
    margin-top: 15px;
    float: right;
    padding-left: 20%;

}
.welcome strong{
    color: coral;
}
label{
    font-size: 14px!important;
}
.load_text h2{
    font-size: 14px;
    color:#fff;
}
.log_hd{
    text-align: center;
    border-top: 50px solid #008000;

}
.log_hd p{
    position: relative;
    font-size: 20px
}
.main_color{
    /*    background:#4169e1; */

}
li small{
    font-size: 12px;
}


td,th{
    text-align: left!important;
}

#company {
    position:absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    bottom: -40px;
    font-size: 0.8em;
    color: #ccc;
    text-align: center;
}

#company .content {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    text-shadow: 0 0 2px black;
    display: inline-block;
    padding: 0 15px;
    color: white;
}

#poweredBy {
    font-size:0.8em;
    color:#ccc;
    padding:5px 15px;
    text-align:center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: inset 0 0 3px white, 0 0 2px black, inset 0 0 4px black;
    text-shadow: 0 0 2px black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3)
}

#poweredBy a {
    color:inherit;
}

#poweredBy .mylogo {
    height: auto;
    width: 55px;
    vertical-align: baseline;
    border: none;
    -webkit-filter: drop-shadow(0 0 4px black);
    filter: drop-shadow(0 0 4px black);
    ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444');
    filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444');
}

/*.menu:hover,.sub_menu{
        display: block;
}*/
.file_label{
    background: #1E90FF;
    color: #fff;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}
.file_label:hover{
    cursor: pointer;

}

.user_img{
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 50%;
}


.space{margin-right:1%;}
/***************************************************************
*Main Color
****************************************************************
*/
fieldset{
    background: #fff!important;
}


/***************************************************************
*Main Modal
****************************************************************
*/
.mymodal{

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}
.mymodal_content{
    background: rgba(255,255,255,0.9);;
    margin: 5% auto;
    border-radius: 5px;
    box-shadow: 0 5px 60px #001;border:2px solid #2a67ac;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*    width: 40%;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);*/
    animation-name: modal;
    animation-duration: 1s;
}
.mymodal_body{
    /*    width: 40%;*/
    padding: 5px;
}

@keyframes modal{
    from{opacity:0}
    to{opacity:5}
}
.mymodal_header,.mymodal_footer{
    border-bottom: 2px solid #00AAFF;
    color: #676a6d;
    padding: 5px;
    height: 50px;
    border-radius: 10px;
}
.mymodal_header h4{
    padding: 10px;

}

.closebtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}
.closebtn:hover,.closebtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    margin-bottom: 10%;
}

/********************
 * INPUTS
 ********************/
.form-control {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #eaeaea;
    background-color: #fcfcfc; }
.form-control:focus {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-color: #d6d6d6;
    background-color: #fff; }

.input-group {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1); }

.input-group .form-control, .input-group-addon, .input-group-btn {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.input-group-addon {
    border: 1px solid #eaeaea; }


#footers {
    clear:both;
    padding-bottom:10px;
    text-align:center;
    font-size:0.9em;
}

.footer{
    /*    background-color: #efefef;*/
    color: #000;
    font-size: 16px;
    text-align: center;
    width: auto;
    padding: 8px;bottom: 0;
    /*    font-family: Consolas, Monaco, Courier New, Courier, monospace; */
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;


}



fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;

    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}	

legend
{
    font-size:12px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border: 1px solid #ddd;
    border-radius: 10px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}







/*******************************************************************
* CUSTOM TAB
********************************************************************
*/

/*.nav-tabs {
  border-bottom: 1px solid #dee2e6;

padding:4px 0 0 20px;
    margin:0;
    text-align:left;
    height:29px;
    border-bottom:1px solid #aaa;
    background:#eef3f8;
    position: relative;
    box-shadow: inset 0 -5px 10px -9px rgba(0,0,0,0.3);
}*/


/*.nav-tabs .nav-link {
    margin:0;
    padding:0;
    display:inline-block;
    list-style:none;
    text-align:center;
    min-width:100px;
    font-weight:bold;
    height:28px;
    line-height:20px;
    color:#444;
    display:inline-block;
    outline:none;
    position:relative;
    bottom:1px;
    background:#fbfbfb;
    background-color: rgba(251, 251, 251, 0.5);
    border:1px solid #ccc;
    border:1px solid rgba(204, 204, 204, 0.5);
    border-bottom:none;
    position: relative;
    bottom: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 95%;
}*/
.nav-tabs .nav-link.active {
    color:#184E81;
    background-color:#f9f9f9;
    border:1px solid #aaa;
    border-bottom:none;
    text-align: center;
    border-top:2px solid #81a9d7;
    bottom: 0;
    box-shadow: 4px -1px 6px -3px rgba(0,0,0,0.2);
}

.nav-tabs .nav-link:not(.active) {
    box-shadow: inset 0 -5px 10px -9px rgba(0,0,0,0.2);
    bottom: 2px;
}
.nav-tabs.clean .nav-link.active {
    background-color: white;
}

.nav-tabs .nav-link a {
    font-weight: 400;
    line-height: 20px;
    color: #444;
    color: rgba(0,0,0,0.6);
    display: block;
    outline: none;
    padding: 5px 10px;
}
.nav-tabs .nav-link a:hover {
    text-decoration: none;
}

.nav-tabs .nav-link.active a {
    font-weight: bold;
    color: #222;
    color: rgba(0,0,0,0.8);
}

.nav-tabs .nav-link.empty {
    /*    padding: 5px;*/
    border: none !important;
}

/*.ul-tab.tabs.vertical {
    display: inline-block;
    height: auto;
    border-bottom: initial;
    border-right: 1px solid #aaa;
    padding-left: 0;
    padding-bottom: 40px;
    padding-top: 10px;
    background: transparent;
    box-shadow: inset -5px 0 10px -9px rgba(0,0,0,0.3);
}*/
/*.ul-tab.tabs.vertical.left {
    float: left;
    margin-right: 9px;
}*/

.ul-tab.tabs.vertical li {
    border:1px solid #ccc;
    border:1px solid rgba(204, 204, 204, 0.5);
    border-right: none;
    min-width: 0;
    display: block;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    right: 0;
    height: auto;
}
.ul-tab.tabs.vertical li:not(.active) {
    box-shadow: inset -5px 0 10px -9px rgba(0,0,0,0.3);
}

.ul-tab.tabs.vertical li + li {
    margin-top: 5px;
}

.ul-tab.tabs.vertical li.active {
    border: 1px solid #aaa;
    border-left: 2px solid #81a9d7;
    border-right: none;
    right: -1px;
    box-shadow: -1px 4px 6px -3px rgba(0,0,0,0.3);
}

.ul-tab.tabs.vertical.left li {
    text-align: right;
}

.ul-tab.tabs.vertical li a {
    padding: 5px;
}

.ul-tab.tabs.alt {
    background-color:initial;
    border-bottom:2px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.1);
    box-shadow:none;
}

.ul-tab.tabs.alt li {
    width:auto;
    border:none;
    min-width:0;
    box-shadow:none;
    bottom: 1px;
    height: auto;
}

.ul-tab.tabs.alt li.active {
    border:none;
    box-shadow:none;
    background-color: transparent;
    border-bottom:2px solid #81a9d7;
}
